name: Build and Deploy Web Demo

on:
  push:
    branches:
      - main
      - master # Adjust if your main branch is different

permissions:
  contents: write

jobs:
  build-and-deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout Code
        uses: actions/checkout@v4

      - name: Setup Flutter
        uses: subosito/flutter-action@v2
        with:
          channel: "stable"

      - name: Install dependencies (Package)
        run: flutter pub get

      - name: Install dependencies (Example)
        run: |
          cd example
          flutter pub get

      - name: Build Web
        run: |
          cd example
          flutter build web --release --base-href "/om_data_grid_release/"

      - name: Deploy to GitHub Pages
        uses: JamesIves/github-pages-deploy-action@v4
        with:
          folder: example/build/web
          branch: main # Deploying to main branch of the release repo
          token: ${{ secrets.DEMO_DEPLOY_TOKEN }}
          repository-name: omar0141/om_data_grid_release
